*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --black-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.9093838218881303) 7%, rgba(0, 0, 0, 0.12787121684611347) 59%);
  --red-gradient: linear-gradient(145deg, rgba(249, 30, 0, 0.8197479675463936) 0%, rgba(249, 30, 0, 0) 58%);
}

body {
  background-color: #f1f1f1;
}

body,
button,
input,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

.shentox {
  font-family: Shentox, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.009rem;
  line-height: 1;
  text-transform: uppercase;
}

.main-header {
  display: flex;
  width: 100%;
}

.logo-box {
  display: none;
  align-items: center;
  justify-content: center;
  width: 10.6rem;
  min-width: 10.6rem;
  height: 8rem;
  background: rgb(109, 0, 195);
  background: linear-gradient(158deg, rgba(109, 0, 195, 0.8841737378545168) 0%, rgba(214, 26, 0, 1) 20%, rgba(214, 26, 0, 0.94859950816264) 80%, rgba(223, 144, 0, 1) 99%);
}

@media screen and (max-width: 1024px) {
  .logo-box {
    display: flex;
  }
}

.logo-box-link {
  height: 2rem;
  width: 80%;
}

.navbars-box {
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.2rem;
  background-color: black;
}

.header-nav:last-child {
  height: 4.8rem;
  background-color: white;
}

[class$="-nav"] {
  display: flex;
  align-items: center;
}

[class$="nav-item"] {
  display: inline-block;
}

[class$="nav-link"] {
  text-decoration: none;
  color: #909090;
}

.terms-nav-item {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}

.terms-nav-item:first-child {
  margin-left: 2rem;
}

.about-nav-item:last-child {
  margin-right: 2rem;
}

@media screen and (max-width: 832px) {
  .about-nav {
    display: none;
  }
}

.subject-nav-link {
  padding: 0 1.2rem;
  color: #aaa;
}

.search-icon-link,
.menu-icon-link {
  border-left: 0.1rem solid #aaaaaa2b;
  height: 4.8rem;
  min-width: 4.8rem;
  font-size: 1.6rem;
  padding: 1.6rem 0;
  text-align: center;
  transform: scaleX(-1);
}

.search-icon-link:hover {
  color: black;
}

.menu-icon-link {
  display: none;
  color: #f42;
}

.menu-buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .black-nav,
  .subject-nav {
    display: none;
  }

  .header-nav {
    justify-content: flex-end;
  }

  .logo-box {
    height: 4.8rem;
  }

  .menu-icon-link {
    display: initial;
  }
}

.breaking-news-box {
  height: 60vh;
  padding: 0.45rem;
  max-height: 56rem;
}

.news-box-title {
  font-size: 24px;
}

.important-news-box:first-child .news-box-title {
  font-size: 50px;
}


@media screen and (max-width: 1600px) {
  .breaking-news-box {
    height: 75vh;
  }

  .important-news-box:first-child .news-box-title {
    font-size: 4.9rem;
  }
}

@media screen and (max-width: 1024px) {
  .breaking-news-box {
    height: 60vh;
  }
}

.important-news-box {
  float: left;
  background-image:
    var(--black-gradient),
    url("../img/robot-google.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.45rem;
  height: calc(50% - 0.45rem);
  width: calc(35% - 0.9rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  position: relative;
  padding: 2.4rem;
}

.important-news-box:first-child {
  background-image:
    var(--black-gradient),
    var(--red-gradient),
    url("../img/robot-google.png");
  height: 100%;
  width: calc(65% - 0.9rem);
}

@media screen and (max-width: 767px) {
  .breaking-news-box {
    display: flex;
    flex-direction: column;
    padding: 0 0.45rem 0 0.45rem;
    justify-content: space-around;
    height: calc(100vh - 5.16rem);
    max-height: 100vh;
  }

  .important-news-box:first-child {
    height: 33%;
    width: calc(100% - 0.9rem);
  }

  .important-news-box {
    height: 33%;
    width: calc(100% - 0.9rem);
  }
}

@media screen and (max-width: 1024px) {
  .important-news-box:first-child {
    background-image:
    var(--black-gradient),
    url("../img/robot-google.png");
  }
}

.main-news-banner {
  height: 40%;
  width: 100%;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

@media screen and (max-width: 1024px) {
  .main-news-banner {
    display: none;
  }
}

.news-banner-svg {
  width: 50%;
}

.news-box-details {
  color: hsla(0,0%,100%,.6);
}

.news-author-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .news-box-title {
    font-size: 1.8rem;
  }

  .important-news-box:first-child .news-box-title {
    font-size: 4rem;
  }

  .news-box-details {
    font-size: 1.2rem;
  }

  .important-news-box:nth-child(n+2) .news-share-counter{
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .important-news-box:first-child .news-box-title {
    font-size: 1.8rem;
  }

  .important-news-box:nth-child(n+2) .news-share-counter{
    display: initial;
  }

  .news-box-title {
    font-size: 1.8rem;
  }
}

.icon-ml {
  margin-left: 0.6rem;
}
