*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1f1f1;
}

body,
button,
input,
textarea {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
}

.shentox {
  font-family: Shentox, Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.009rem;
  line-height: 1;
  text-transform: uppercase;
}

.main-header {
  display: flex;
  width: 100%;
}

.logo-box {
  display: none;
  align-items: center;
  justify-content: center;
  width: 10.6rem;
  min-width: 10.6rem;
  height: 8rem;
  background: rgb(214, 0, 238);
  background: linear-gradient(158deg, rgba(214,0,238,1) 2%, rgba(196,0,0,1) 37%, rgba(191,88,0,1) 82%);
}

@media screen and (max-width: 1024px) {
  .logo-box {
    display: flex;
  }
}

.logo-box-link {
  height: 2rem;
  width: 80%;
}

.navbars-box {
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.2rem;
  background-color: black;
}

.header-nav:last-child {
  height: 4.8rem;
  background-color: white;
}

[class$="-nav"] {
  display: flex;
  align-items: center;
}

[class$="nav-item"] {
  display: inline-block;
}

[class$="nav-link"] {
  text-decoration: none;
  color: #909090;
}

.terms-nav-item {
  font-size: 1.4rem;
  margin-left: 1.2rem;
}

.terms-nav-item:first-child {
  margin-left: 2rem;
}

.about-nav-item:last-child {
  margin-right: 2rem;
}

@media screen and (max-width: 832px) {
  .about-nav {
    display: none;
  }
}

.subject-nav-link {
  padding: 0 1.2rem;
  color: #aaa;
}

.search-icon-link,
.menu-icon-link {
  border-left: 1px solid #aaaaaa2b;
  height: 4.8rem;
  min-width: 4.8rem;
  font-size: 1.6rem;
  padding: 16px 0;
  text-align: center;
  transform: scaleX(-1);
}

.search-icon-link:hover {
  color: black;
}

.menu-icon-link {
  display: none;
  color: #f42;
}

.menu-buttons {
  display: flex;
}

@media screen and (max-width: 767px) {
  .black-nav,
  .subject-nav {
    display: none;
  }

  .header-nav {
    justify-content: flex-end;
  }

  .logo-box {
    height: 4.8rem;
  }

  .menu-icon-link {
    display: initial;
  }
}
